slack:
  token: ~

filenames: data/names.txt

pyswapper:
  paths:
    executable: face_replace/face_replace.py
    faces:      face_replace/data/faces/*.png
    bodies:     face_replace/data/bodies/*.png
    success:    face_replace/data/bodies/bruce.png